 
<div>
    <mat-toolbar>
      <span>My Shopping<mat-icon class="shoppingIcon">shopping_basket</mat-icon></span>
      <mat-icon class="menuIcon" style="position: relative;left: 1080px;">menu</mat-icon>
        <div class="dropDown">
            <ul>
                <li>home</li>
                <li>log-Out</li>
            </ul>
        </div>
    </mat-toolbar>
</div>
<!-- <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  <button mat-stroked-button>Basic</button>
  <button mat-stroked-button color="primary">Primary</button>
  <button mat-stroked-button color="accent">Accent</button> -->
